{{ if .Values.components.kubecost.enabled -}}

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ .Values.global.cluster }}-kubecost"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.global.project }}
  source:
    chart: {{ default "kubecost" .Values.components.kubecost.helm.chart }}
    {{- if .Values.global.helm.repository }}
    repoURL: {{ default .Values.components.kubecost.helm.repository .Values.global.helm.repository }}
    {{- else }}
    repoURL: {{ default "https://kubecost.github.io/kubecost/" .Values.components.kubecost.helm.repository }}
    {{- end }}
    targetRevision: {{ default "3.1.3" .Values.components.kubecost.helm.targetRevision }}
    plugin:
      env:
        - name: HELM_RELEASE_NAME
          value: "kubecost"
        - name: HELM_VALUES
          value: |
            global:
              defaultStorageClass: default
              clusterId: {{ .Values.global.cluster }}

            kubecostProductConfigs:
              clusterProfile: {{ .Values.components.kubecost.kubecostProductConfigs.clusterProfile | default "production" | quote }}
              currencyCode: "CAD"
              ## Apply Enterprise product license
              productKey: {{ toYaml .Values.components.kubecost.kubecostProductConfigs.productKey | nindent 16 }}
              labelMappingConfigs:
                owner_label: "project.ssc-spc.gc.ca/lead"
                team_label: "project.ssc-spc.gc.ca/team"
                department_label: "project.ssc-spc.gc.ca/division"
                product_label: "finance.ssc-spc.gc.ca/workload-id"
                environment_label: "project.ssc-spc.gc.ca/environment"

            finopsagent:
              enabled: {{ hasKey .Values.components.kubecost.finopsagent "enabled" | ternary .Values.components.kubecost.finopsagent.enabled true }}
              agent:
                kubecost:
                  gpuLabel: "node.ssc-spc.gc.ca/use"
                  gpuLabelValue: "gpu"


              image: {{ include "kubecost.finopsagent.image" . | nindent 16 }}
              resources: {{ toYaml .Values.components.kubecost.finopsagent.resources | nindent 16 }}
              nodeSelector: {{ toYaml .Values.components.kubecost.finopsagent.nodeSelector | nindent 16 }}
              tolerations: {{ toYaml .Values.components.kubecost.finopsagent.tolerations | nindent 16 }}
              affinity: {{ toYaml .Values.components.kubecost.finopsagent.affinity | nindent 16 }}
              priorityClassName: {{ .Values.components.kubecost.finopsagent.priorityClassName | nindent 16 }}

            aggregator:
              enabled: {{ hasKey .Values.components.kubecost.aggregator "enabled" | ternary .Values.components.kubecost.aggregator.enabled true }}
              fullImageName: {{ toYaml .Values.components.kubecost.aggregator.fullImageName | nindent 16 }}
              image: {{ include "kubecost.aggregator.image" . | nindent 16 }}
              resources: {{ toYaml .Values.components.kubecost.aggregator.resources | nindent 16 }}
              nodeSelector: {{ toYaml .Values.components.kubecost.aggregator.nodeSelector | nindent 16 }}
              tolerations: {{ toYaml .Values.components.kubecost.aggregator.tolerations | nindent 16 }}
              affinity: {{ toYaml .Values.components.kubecost.aggregator.affinity | nindent 16 }}
              priority: {{ toYaml .Values.components.kubecost.aggregator.priority | nindent 16 }}

            cloudCost:
              enabled: {{ hasKey .Values.components.kubecost.cloudCost "enabled" | ternary .Values.components.kubecost.cloudCost.enabled true }}
              fullImageName: {{ toYaml .Values.components.kubecost.cloudCost.fullImageName | nindent 16 }}
              image: {{ include "kubecost.cloudCost.image" . | nindent 16 }}
              resources: {{ toYaml .Values.components.kubecost.cloudCost.resources | nindent 16 }}
              nodeSelector: {{ toYaml .Values.components.kubecost.cloudCost.nodeSelector | nindent 16 }}
              tolerations: {{ toYaml .Values.components.kubecost.cloudCost.tolerations | nindent 16 }}
              affinity: {{ toYaml .Values.components.kubecost.cloudCost.affinity | nindent 16 }}

            localStore:
              enabled: {{ hasKey .Values.components.kubecost.localStore "enabled" | ternary .Values.components.kubecost.localStore.enabled true }}
              fullImageName: {{ toYaml .Values.components.kubecost.localStore.fullImageName | nindent 16 }}
              image: {{ include "kubecost.localStore.image" . | nindent 16 }}
              resources: {{ toYaml .Values.components.kubecost.localStore.resources | nindent 16 }}
              nodeSelector: {{ toYaml .Values.components.kubecost.localStore.nodeSelector | nindent 16 }}
              tolerations: {{ toYaml .Values.components.kubecost.localStore.tolerations | nindent 16 }}
              affinity: {{ toYaml .Values.components.kubecost.localStore.affinity | nindent 16 }}

            clusterController:
              enabled: {{ hasKey .Values.components.kubecost.clusterController "enabled" | ternary .Values.components.kubecost.clusterController.enabled true }}
              fullImageName: {{ toYaml .Values.components.kubecost.clusterController.fullImageName | nindent 16 }}
              image: {{ include "kubecost.clusterController.image" . | nindent 16 }}
              resources: {{ toYaml .Values.components.kubecost.clusterController.resources | nindent 16 }}
              nodeSelector: {{ toYaml .Values.components.kubecost.clusterController.nodeSelector | nindent 16 }}
              tolerations: {{ toYaml .Values.components.kubecost.clusterController.tolerations | nindent 16 }}
              affinity: {{ toYaml .Values.components.kubecost.clusterController.affinity | nindent 16 }}
              priorityClassName: {{ .Values.components.kubecost.clusterController.priorityClassName | nindent 16 }}

            frontend:
              enabled: {{ hasKey .Values.components.kubecost.frontend "enabled" | ternary .Values.components.kubecost.frontend.enabled true }}
              fullImageName: {{ toYaml .Values.components.kubecost.frontend.fullImageName | nindent 16 }}
              image: {{ include "kubecost.frontend.image" . | nindent 16 }}
              resources: {{ toYaml .Values.components.kubecost.frontend.resources | nindent 16 }}
              nodeSelector: {{ toYaml .Values.components.kubecost.frontend.nodeSelector | nindent 16 }}
              tolerations: {{ toYaml .Values.components.kubecost.frontend.tolerations | nindent 16 }}
              affinity: {{ toYaml .Values.components.kubecost.frontend.affinity | nindent 16 }}
              priority: {{ toYaml .Values.components.kubecost.frontend.priority | nindent 16 }}

            forecasting:
              enabled: {{ hasKey .Values.components.kubecost.forecasting "enabled" | ternary .Values.components.kubecost.forecasting.enabled true }}
              fullImageName: {{ toYaml .Values.components.kubecost.forecasting.fullImageName | nindent 16 }}
              image: {{ include "kubecost.forecasting.image" . | nindent 16 }}
              resources: {{ toYaml .Values.components.kubecost.forecasting.resources | nindent 16 }}
              nodeSelector: {{ toYaml .Values.components.kubecost.forecasting.nodeSelector | nindent 16 }}
              tolerations: {{ toYaml .Values.components.kubecost.forecasting.tolerations | nindent 16 }}
              affinity: {{ toYaml .Values.components.kubecost.forecasting.affinity | nindent 16 }}
              priority: {{ toYaml .Values.components.kubecost.forecasting.priority | nindent 16 }}

            networkCosts:
              enabled: {{ hasKey .Values.components.kubecost.networkCosts "enabled" | ternary .Values.components.kubecost.networkCosts.enabled true }}
              fullImageName: {{ toYaml .Values.components.kubecost.networkCosts.fullImageName | nindent 16 }}
              image: {{ include "kubecost.networkCosts.image" . | nindent 16 }}
              resources: {{ toYaml .Values.components.kubecost.networkCosts.resources | nindent 16 }}
              nodeSelector: {{ toYaml .Values.components.kubecost.networkCosts.nodeSelector | nindent 16 }}
              tolerations: {{ toYaml .Values.components.kubecost.networkCosts.tolerations | nindent 16 }}
              affinity: {{ toYaml .Values.components.kubecost.networkCosts.affinity | nindent 16 }}
              priorityClassName: {{ .Values.components.kubecost.networkCosts.priorityClassName | nindent 16 }}
  destination:
    name: {{ .Values.global.cluster }}
    namespace: kubecost-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

{{- end }}
