{{ if .Values.components.kubecost.enabled -}}

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ .Values.global.cluster }}-kubecost"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.global.project }}
  source:
    chart: {{ default "kubecost" .Values.components.kubecost.helm.chart }}
    {{- if .Values.global.helm.repository }}
    repoURL: {{ default .Values.components.kubecost.helm.repository .Values.global.helm.repository }}
    {{- else }}
    repoURL: {{ default "https://kubecost.github.io/kubecost/" .Values.components.kubecost.helm.repository }}
    {{- end }}
    targetRevision: {{ default "3.1.3" .Values.components.kubecost.helm.targetRevision }}
    plugin:
      env:
        - name: HELM_RELEASE_NAME
          value: "kubecost"
        - name: HELM_VALUES
          value: |
            global:
              defaultStorageClass: default
              clusterId: {{ .Values.global.cluster }}
  destination:
    name: {{ .Values.global.cluster }}
    namespace: kubecost-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

{{- end }}
