{{ if .Values.components.velero.enabled -}}

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ .Values.global.cluster }}-velero"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.global.project }}
  source:
    chart: {{ default "velero" .Values.components.velero.helm.chart }}
    {{- if .Values.components.velero.helm.repository}}
    repoURL: {{ .Values.components.velero.helm.repository }}
    {{- else }}
    repoURL: {{ default "https://vmware-tanzu.github.io/helm-charts" .Values.global.helm.repository }}
    {{- end }}
    targetRevision: {{ default "11.3.2" .Values.components.velero.helm.targetRevision }}
    plugin:
      env:
        - name: HELM_RELEASE_NAME
          value: "velero"
        - name: HELM_VALUES
          value: |
            image: {{ default "{}" (include "velero.image" .) | nindent 14 }}

            resources: {{ toYaml .Values.components.velero.resources | nindent 14 }}

            nodeSelector: {{ toYaml .Values.components.velero.nodeSelector | nindent 14 }}
            tolerations: {{ toYaml .Values.components.velero.tolerations | nindent 14 }}
            affinity: {{ toYaml .Values.components.velero.affinity | nindent 14 }}

            initContainers:
              - name: velero-plugin-for-{{ .Values.global.provider }}
                image: {{ include "velero.plugin.image" . }}
                imagePullPolicy: IfNotPresent
                volumeMounts:
                  - mountPath: /target
                    name: plugins

            kubectl:
              image: {{ default "{}" (include "velero.kubectl.image" .) | nindent 16 }}

            {{- if eq .Values.global.provider "azure" }}
            podLabels:
              {{- if .Values.components.velero.azureWorkloadIdentity.enabled }}
              azure.workload.identity/use: "true"
              {{- end }}
            {{- end }}

            metrics:
              serviceMonitor:
                enabled: true

            configuration:
              backupStorageLocation:
              - name: {{ .Values.global.cluster }}
                provider: {{ .Values.global.provider }}
                default: true
                bucket: {{ required "velero.backupStorage.bucket is required" .Values.components.velero.backupStorage.bucket | quote }}
                config: {{ include "velero.backupStorageLocation.config" . | nindent  18 }}
              volumeSnapshotLocation:
              - name: {{ .Values.global.cluster }}
                provider: {{ .Values.global.provider }}
                config: {{ include "velero.volumeSnapshotLocation.config" . | nindent 18 }}

            credentials:
              secretContents:
                {{- if eq .Values.global.provider "azure" }}
                cloud: |
                  AZURE_CLIENT_ID:
                  AZURE_CLIENT_SECRET:
                  AZURE_TENANT_ID: {{ .Values.global.tenantId }}
                  AZURE_SUBSCRIPTION_ID: {{ .Values.global.subscriptionId }}
                  AZURE_RESOURCE_GROUP: {{ printf "%s-aks-managed-rg" .Values.global.cluster }}
                {{- end }}

            schedules:
              hourly-resources:
                schedule: "0 * * * *"
                template:
                  includeClusterResources: true
                  includedNamespaces:
                  - '*'
                  snapshotVolumes: false
                  storageLocation: {{ .Values.global.cluster }}
                  volumeSnapshotLocations:
                  - {{ .Values.global.cluster }}
                  ttl: 720h0m0s

            serviceAccount:
              server:
                annotations:
                  {{- include "velero.azureWorkloadIdentity.clientId" . | nindent 18 }}

            priorityClassName: {{ .Values.components.velero.priorityClassName }}
  destination:
    name: {{ .Values.global.cluster }}
    namespace: velero-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

{{- end }}
