{{ if .Values.components.argoSolution.enabled -}}

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ .Values.global.cluster }}-argo-solution-global-project"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.global.project }}
  source:
    chart: {{ .Values.global.raw.helm.chart }}
    repoURL: {{ default .Values.global.helm.repository .Values.global.raw.helm.repository }}
    targetRevision: {{ .Values.global.raw.helm.targetRevision }}
    helm:
      releaseName: argocd-foundation-platform-projects
      values: |
        resources:
          - apiVersion: argoproj.io/v1alpha1
            kind: AppProject
            metadata:
              name: global-multi-tenant
            spec:
              description: "Global multi-tenant restrictions"
              clusterResourceBlacklist:
                - group: "*"
                  kind: "*"
              namespaceResourceBlacklist:
                - group: ""
                  kind: Namespace
                - group: ""
                  kind: ResourceQuota
                - group: ""
                  kind: LimitRange
                - group: "storage.k8s.io"
                  kind: "*"
  destination:
    name: {{ .Values.global.cluster }}
    namespace: platform-solution-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

{{- end }}
