apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ .Values.global.cluster }}-argo-foundation-solutions-project"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.global.project }}
  source:
    chart: {{ .Values.global.raw.helm.chart }}
    repoURL: {{ default .Values.global.helm.repository .Values.global.raw.helm.repository }}
    targetRevision: {{ .Values.global.raw.helm.targetRevision }}
    helm:
      releaseName: argocd-foundation-solutions-projects
      values: |
        resources:
          - apiVersion: argoproj.io/v1alpha1
            kind: AppProject
            metadata:
              name: aurora-solution
              namespace: platform-management-system
            spec:
              description: "App Project for Aurora Solution Builder"
              sourceRepos:
                - '*'
              destinations:
                - namespace: '*'
                  server: '*'
              orphanedResources:
                warn: true
              clusterResourceWhitelist:
                - group: '*'
                  kind: '*'
              syncWindows: {{ toYaml .Values.components.argoFoundation.argocdProjects.syncWindows | nindent 16 }}
          - apiVersion: argoproj.io/v1alpha1
            kind: ApplicationSet
            metadata:
              name: aurora-solutions
              namespace: platform-management-system
            spec:
              generators:
                {{- toYaml .Values.components.argoFoundation.argocdProjects.solutions.applicationSet.generators | nindent 16 }}
              syncPolicy:
                preserveResourcesOnDeletion: true
              template:
                metadata:
                  name: 'solution-{{ "{{" }} path.basename }}'
                spec:
                  destination:
                    name: in-cluster
                    namespace: platform-management-system
                  project: aurora-solution
                  source:
                    chart: aurora-solution
                    helm:
                      releaseName: '{{ "{{" }} path.basename }}'
                      values: |
                        {{ "{{" }} settings }}

                        {{- if .Values.components.argoSolution.enabled }}
                        argocdProject:
                          sourceRepos: {{ toYaml .Values.components.argoFoundation.argocdProjects.solutions.applicationSet.template.source.helmValues.argocdProject.sourceRepos | nindent 28 }}
                        {{- end }}
                    repoURL: {{ .Values.components.argoFoundation.argocdProjects.solutions.applicationSet.template.source.repoURL }}
                    targetRevision: '{{ "{{" }} version }}'
                  syncPolicy:
                    automated:
                      prune: false
                      selfHeal: true
  destination:
    name: {{ .Values.global.cluster }}
    namespace: platform-management-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
