{{ if .Values.components.loki.enabled -}}

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ .Values.global.cluster }}-loki-netpol"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.global.project }}
  source:
    chart: {{ .Values.global.raw.helm.chart }}
    repoURL: {{ default .Values.global.helm.repository .Values.global.raw.helm.repository }}
    targetRevision: {{ .Values.global.raw.helm.targetRevision }}
    helm:
      releaseName: loki-netpol
      values: |
        resources:
          - apiVersion: networking.k8s.io/v1
            kind: NetworkPolicy
            metadata:
              name: allow-egress-to-azure-storage-from-loki
              namespace: loki
            spec:
              podSelector:
                matchLabels:
                  app.kubernetes.io/name: loki
              egress:
                - ports:
                    - protocol: TCP
                      port: 443    
                  to:
                    - ipBlock:
                        cidr: 0.0.0.0/0
              policyTypes:
                - Egress
          - apiVersion: networking.k8s.io/v1
            kind: NetworkPolicy
            metadata:
              name: allow-ingress-from-platform-logging-to-loki
              namespace: loki
            spec:
              ingress:
              - ports:
                - port: 8080
                  protocol: TCP
                from:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: prometheus-system
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: grafana
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: fluent-operator-system
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: fluentd
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: event-logging-system
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-event-exporter
              podSelector:
                matchLabels:
                  app.kubernetes.io/component: gateway
              policyTypes:
              - Ingress
  destination:
    name: {{ .Values.global.cluster }}
    namespace: loki-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

{{- end }}
